<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">\
       
 <!-- Bean for BeanPostProcessor -->
    <bean id="processor" class="com.stackroute.demo.BeanPostProcessorDemoBean" > </bean>
       
<!-- Bean for BeanLifeCycleDemo -->
    <bean id="beanlifecycledemobean" class="com.stackroute.demo.BeanLifecycleDemoBean" init-method="customInit" destroy-method="customDestroy"> </bean>

</beans>
